/* * {
    margin: 0;
    padding: 0;
} */

html {
	font-family: 'Noto Sans KR', sans-serif;
}
body {
	margin: 0;
}
div, section, header, footer, p, h1, h2 {
	box-sizing: border-box;
}
a {
	color: royalblue;
}
img {
	max-width: 100%;
	height: auto;
    border-radius: 10px;
}
.world{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 100vh; */
    perspective: 900px;
}

@keyframes poster-ani {
    from {
        transform: rotateY(-10deg);
        box-shadow: 10px 15px 38px rgba(0,0,0,0.30), 10px 15px 38px rgba(0,0,0,0.22);
    }
    15%{
        transform: rotateY(-10deg);
        box-shadow: 10px 15px 38px rgba(0,0,0,0.30), 10px 15px 38px rgba(0,0,0,0.22);
    }
    85%{
        transform: rotateY(10deg);
        box-shadow: 10px 15px 10px rgba(0,0,0,0.30)        
    }
    to {
        transform: rotateY(10deg);
        box-shadow: 10px 15px 10px rgba(0,0,0,0.30)
    }
}
.poster {
    position: relative;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    background: rgba(183, 229, 237, 1);
    /* box-shadow: 0 19px 38px rgba(0,0,0,0.30); */
    animation: poster-ani 1.3s infinite alternate linear;
    transform-style: preserve-3d;
}

.poster-title {
    padding: 0.1em 0;
    font-size: 2rem;
    font-family:  swagger;
    font-weight: 700;
    text-align: center;
    transform: translateZ(25px);
}

.floater{
    position: absolute;
    width: 40%;
}

.floater:nth-of-type(1) {
     width: 40%;
     left: 42%;
     bottom: 2%;
     transform: translateZ(30px);
}
.floater:nth-of-type(2) {
     width: 45%;
     left: -16%;
     bottom: -7%;
     transform: translateZ(70px);  
}
.floater:nth-of-type(3) {
     width: 60%;
     left: 6%;
     bottom: 19%;
     /* transform: translateZ(5px); */
}

.header {
	padding: 2rem 0;
	text-align: center;
}
.global-footer {
	padding: 2rem 0;
	text-align: center;
}